#version=DEVEL

# System authorization information
auth --enableshadow --passalgo=sha512

# Use network installation
url --url="ftp://192.168.102.42/pub/centos7"

# License agreement
eula --agreed

## Use graphical install
#graphical

## ------ TEST
##Use text mode install
text
## ------- END TEST

# Run the Setup Agent on first boot
firstboot --enable
ignoredisk --only-use=centos_0,sda,sdb

# Keyboard layouts
keyboard --vckeymap=us --xlayouts='us'

# System language
lang en_US.UTF-8

# Network information
#network  --bootproto=dhcp --device=eno1 --ipv6=auto --activate
#network  --bootproto=dhcp --device=eno2 --onboot=off --ipv6=auto
#network  --hostname=localhost.localdomain
network  --bootproto=dhcp --hostname=orchid

# Root password
rootpw --iscrypted $6$aH2X97RKV0ku.L.r$Xo.YVQtOLTRBo7XjpOHvVXYmHkQBdi.uEEv5hVSgvp2pjJVvgMp6hp7Rby22/T2gcXecwZqI6FjmaAeVejTQ1.

# System services
services --enabled="chronyd"

# System timezone
timezone America/New_York --isUtc
user --groups=wheel --name=orchid --password=$6$VVwh7/AB844c54Mw$NSrvih6/M7JX2DKJ66.UeoUx5yY/FxRMuce3P1Rz56vsnmfSCMu.hOMsJZdNkGUnFmRN.NbnOvtILo15arKwj. --iscrypted --gecos="orchid"

# X Window System configuration information
xconfig  --startxonboot

# System bootloader configuration
bootloader --append=" crashkernel=auto" --location=mbr --boot-drive=centos_0
autopart --type=lvm

# Partition clearing information
clearpart --all --initlabel --drives=centos_0
#clearpart --none --initlabel
reboot

# Disk partitioning information
#part swap --fstype="swap" --ondisk=centos_0 --size=8192
#part /boot --fstype="ext2" --ondisk=centos_0 --size=238
#part / --fstype="ext4" --ondisk=centos_0 --size=218076
#raid  --device=imsm0 --fstype="None" --level=CONTAINER --noformat --useexisting
#raid  --device=None

%packages
@^gnome-desktop-environment
@base
@core
@desktop-debugging
@dial-up
@directory-client
@fonts
@gnome-desktop
@guest-agents
@guest-desktop-agents
@input-methods
@internet-browser
@java-platform
@multimedia
@network-file-system-client
@networkmanager-submodules
@print-client
@x11
@security-tools
git
chrony
kexec-tools
wget
%end

%post --log=/tmp/ks-post.log

#systemctl stop packagekit.service
 
# Install script prereqs
yum -y install epel-release
yum -y update
yum -y install python-pip
yum -y install dkms
yum -y install ansible curl wget
wget dl.fedoraproject.org/pub/epel/7/x86_64/Packages/e/epel-release-7-11.noarch.rpm
rpm -ihv epel-release-7-11.noarch.rpm

#Pull Git repository
mkdir /jenkins
chmod -R 777 /jenkins
#######################################################################################
## Create file /jenkins/ansiblepull.sh
#######################################################################################
cat << EOF > /jenkins/ansiblepull.sh
rm -rf /home/orchid/repos
/usr/bin/ansible-pull -d /home/orchid/repos -i 'localhost,' -U https://ipconfigure-jenkins:ipc0nfigur3jenk1n5@github.com/ipconfigure/integrations.git
EOF

#######################################################################################
## Run file /jenkins/raid1_ansiblepull.sh
## Pulls GIT repo files
#######################################################################################
chmod a+x /jenkins/*.sh
/jenkins/ansiblepull.sh

echo 'sudo rm -rf /jenkins ~/repos ~/cleanup.sh && sudo reboot' > /home/orchid/cleanup.sh
chmod 777 /home/orchid/cleanup.sh

##Required to make JNLP agent connected.  See  https://plugins.jenkins.io/swarm
curl -kL -o /jenkins/swarm-client.sh ftp://192.168.102.42/pub/repos/integrations/automation/jenkins/swarm-client.sh
chmod a+x /jenkins/swarm-client.sh
(crontab -l 2>/dev/null; echo "* * * * * /jenkins/swarm-client.sh") | crontab -

%end

%addon com_redhat_kdump --enable --reserve-mb='auto'

%end

%anaconda
pwpolicy root --minlen=6 --minquality=1 --notstrict --nochanges --notempty
pwpolicy user --minlen=6 --minquality=1 --notstrict --nochanges --emptyok
pwpolicy luks --minlen=6 --minquality=1 --notstrict --nochanges --notempty
%end
