---
- name: "Install plugin {{ jenkins_plugins }}"
  jenkins_plugin:
    name: "{{item}}"
    url_username: "{{ my_jenkins_user }}"
    url_password: "{{ my_jenkins_pass }}"
    url: http://localhost:8080
    owner: "{{ owner_name }}"
    group: "{{ group_name }}"
    with_dependencies: yes
    jenkins_home: "{{ jenkins_home }}" 
  with_items: "{{ jenkins_plugins }}"
  tags:
   - configuration     
  register: install_plugin

# - debug: var=install_plugin.results

# - name: "DEBUG Install plugin {{ jenkins_plugins }}"
#   debug:
#     msg: 
#       - "{{ install_plugin | dict2items }}"

# - name: set fact
#   set_fact:
#     plugin_state: "The plugin is {{ install_plugin.results }}"


# - name: Display plugin state output
#   debug: msg="{{ plugin_state }}"
#   loop: "{{ jenkins_plugins }}"    





        


      
      

    