[Desktop Entry]
Name=disable_login_keyring.sh
GenericName=Disable login keyring
Comment=Disable login keyring
Exec=/home/{{ mcdonalds_viewer_user }}/.steelfin/disable_login_keyring.sh
Terminal=false
Type=Application
X-GNOME-Autostart-enabled=true
