[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=IPConfigure Technician Connection
Comment=TeamViewer Remote Control Application
Exec=/bin/bash -c 'cd /home/{{ steelfin_user_account }}/teamviewerqs; LC_ALL=C ./teamviewer'
Icon=/home/{{ steelfin_user_account }}/teamviewerqs/teamviewer.png
Type=Application
Categories=Network;
#Categories=Network;RemoteAccess;
